@using Bookish.DataAccess
@using Bookish.Web.Models
@model Bookish.Web.Models.BookDatabase
@{
    ViewBag.Title = "Home Page";
}

<html>
    <head>
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }

            th, td {
            padding: 10px;
            text-align: left;
            }

            #container {
                display: flex;
                justify-content: stretch;
            }

            .column.left {
                flex: 1;
                margin-right: auto;
            }

            .column.right {
                width: 250px;
                flex: 0 0 250px;
                margin-left: 10px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div class="column left">
                <h2>Online Catalogue</h2>
                <div class="row">
                    <p>@Model.SearchMessage</p>
                    <table style=\"width: 100 % \">
                        <tr><th>ISBN</th><th>Title</th><th>Author</th></tr>
                        @{
                            foreach (Book book in Model.data)
                            {
                                @:<tr>
                                <td> @book.Isbn </td>
                                <td> @Html.ActionLink(book.Title, "BookInfo", "Book", book, null) </td>
                                <td> @book.Author </td>
                                @:</tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="column right">
                <h2>Search</h2>
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    @Html.TextBoxFor(m => m.SearchTerm)
                    <br>
                    @Html.RadioButtonFor(m => m.SearchSection, SearchType.Title) @: Title
                    <br>
                    @Html.RadioButtonFor(m => m.SearchSection, SearchType.Author) @: Author
                }
                <br>
                @Html.ActionLink("Add Book", "AddBook", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </body>
</html>

